<h1>All Carriers</h1><%= link_to "Log out", destroy_user_session_path, method: :delete %>


<% if @carriers.blank? %>
<p>No carriers listed on the account!</p>
<% else %>
<% @carriers.each do |carrier| %>
<%= link_to carrier.name, carrier_path(carrier) %><br>
<% end %>
<% end %>

<%= link_to "Add a carrier", new_carrier_path %>
