<div class="rows">
  <div class="row1"><img id="image1" src="/images/Android_Smartphones.jpg"></div>
  <div class="row2">
    <div id="div"><img id="image2" src="https://s3.amazonaws.com/cgmagazine/2016/04/samsung-galaxy-s7-edge-hardware-review-5.jpg"></div>
    <div id="div1">
      <h3>Up to date technology</h3>
      <p id="text">Enjoy the latest available technology offered by SkyTele</p>
    </div>
  </div>
  <div class="row3">
    <iframe id="image3" width="854" height="480" src="https://www.youtube.com/embed/RKYjdTiMkXM" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="row4">
    <div id="div3">
      <img id="image4" src="https://petalite.co.uk/wp-content/uploads/2017/05/Mobile-Phone-1920x1080-19-05-17.jpg">
    </div>
    <div id="div4">
      <h3>Up to date technology</h3>
      <p id="text">Enjoy the latest available technology offered by SkyTele</p>
    </div>
  </div>
  <div class="row5">
    <img id="image5" src="http://www.zastavki.com/pictures/originals/2013/__iPhone_5_phones_044256_.jpg">
  </div>
</div>
