/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgba(230,230,230,1);
  min-height: 100%;
  /*margin: 0;*/
}

li {
  list-style:
}

.head {
  position: fixed;
  background-color: rgba(230,230,230,0.8);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
}

.name {
  display: inline;
  float: left;
  margin: 15px 0 0 250px;
  color: rgba(91,54,126,1);
}

.nav {
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 25px;
  margin-right: 40px;
  color: rgba(91,54,126,1);
}

#nav {
  list-style: none;
  margin-right: 10px;
  text-decoration: none;
  color: rgba(91,54,126,1);
}

#login, #signup, #logout {
  background-color: rgba(91,54,126,1);
  color: white;
  padding: 10px;
  border: 20px;
  margin-right: 10px;
  border-radius: 5px;
}


.notice, .alert {
  position: fixed;
  margin: auto;
}

#message {
  margin-left: 44%;
  margin-top: 15px;
  text-align: center;
}

.notice {
  color: rgba(23,114,70,1);
  /*margin-top: 15px;*/
  /*margin-left: 44%;*/
}

.alert {
  /*margin-top: 15px;*/
  /*margin-left: 44%;*/
}

.alert, #alert {
  color: rgba(255,0,0,1);
}


.heading {
  padding-top: 100px;
  /*padding-bottom: 85px;*/
  text-align: center;
}

#subhead {
  text-align: center;
  padding-top: 100px;
}

.rows {
  display: flex;
  flex-direction: column;
}

#image1 {
  margin-top: 60px;
}

#image5 {
}

#image1, #image3, #image5 {
  width: 100%;
}

#image3 {
  height: 700px;
}

#image2, #image4 {
  width: 100%;
}

#div, #div3 {
  width: 60%;
  float: left;
  margin: 0;
}

#div3 {
  float: right
}

#div1, #div4 {
  float: left;
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
  width: 20%;
}

.products {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo_id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 85px;
  text-align: center;
  flex-grow: 0;
  transition: flex-grow 0.3s;
}

a {
  text-decoration: none;
}

.logo_id:hover {

}

#logo {
  width: 300px;
  transition: 0.3s;
}

#logo:hover {
  position: relative;
  top: -25px;
  width: 400px;
  height: auto;
  display: block;
  /*z-index: 999;*/
  transition: 0.3s;
}

#photo {
  width: 200px;
  height: 200px;
  transform: rotate(270deg);
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 130px;
  margin-left: 39%;
  margin-right: 50%;
}

#ido {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#inline {
  display: inline;
  color: rgba(91,54,126,1);
}

#inline1 {
  display: inline;
}

.log {
  margin-bottom: 200px;
}

.contact {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 254px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#list {
  margin-bottom: 50px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

#list1 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.na {
  padding-bottom: 40px;
}

.icon {
  margin: auto;
  height: 60px;
  width: 60px;
  cursor: pointer;
  color: rgba(91,54,126,1)
}

#icon {
  height: 100%;
  width: 100%;

}

.about, .user {
  padding-bottom: 210px;
}

.paragraph {
  width: 100%;
  float: none;
  clear: both;
  /*height: auto;*/
}

p {
  margin: 0 25% 0 25%;
  text-align: center;
  /*vertical-align: middle;*/
  /*display: table-cell;*/
  /*position: relative;*/
  /*text-align: center;*/
}

footer {
  display: flex;
  list-style: none;
  width: auto;
  background: rgba(91,54,126,1);
  color: white;
  bottom: 0;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

#footer {
  margin: auto  ;
  color: white
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(91,54,126,1);
    color: white;
    /*padding: 16px;*/
    font-size: 14px;
    /*border: none;*/
    cursor: pointer;
    margin-top: -15px;
    padding: 10px;
    border: 20px;
    /*margin-right: 10px;*/
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /*position: relative;*/
    /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownlist {
  text-align: center;
  margin-top: 50px;
}

#menu {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#menuoptions {
  margin-bottom: 20px;
  color: rgba(91,54,126,1);
  transition: font-size 0.3s, color 0.1s;
}

#menuoptions:hover {
  font-size: 30px;
  cursor: pointer;
  color: rgba(100,100,100,1);
  transition: font-size 0.3s, color 0.1s;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(91,54,126,1);
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(151,101,176,1);
}
