/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/


body {
  background-color: rgba(230,230,230,1);
  min-height: 100%;
}

.head {
  position: fixed;
  background-color: rgba(230,230,230,0.8);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
}

.name {
  display: inline;
  float: left;
  margin: 15px 0 0 250px;
  color: rgba(91,54,126,1);
  font-size: 36px;
}

.nav {
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 25px;
  margin-right: 40px;
  color: rgba(91,54,126,1);
}

#nav {
  list-style: none;
  margin-right: 10px;
  text-decoration: none;
  color: rgba(91,54,126,1);
}

#login, #signup, #logout {
  background-color: rgba(91,54,126,1);
  color: white;
  padding: 10px;
  border: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.notice, .alert {
  position: fixed;
  margin: auto;
}

#message {
  margin-left: 44%;
  margin-top: 15px;
  text-align: center;
}

.notice {
  color: rgba(23,114,70,1);
}

.alert {
}

.alert, #alert {
  color: rgba(255,0,0,1);
}

.heading {
  padding-top: 100px;
  text-align: center;
}

#subhead {
  text-align: center;
  padding-top: 100px;
}

.rows {
  display: flex;
  flex-direction: column;
}

#image1 {
  margin-top: 0;
}

#image5 {
}

#image1, #image3, #image5 {
  width: 100%;
}

#image3 {
  height: 700px;
}

#image2, #image4 {
  width: 100%;
}

#div, #div3 {
  width: 60%;
  float: left;
  margin: 0;
}

#div3 {
  float: right
}

#div1, #div4 {
  float: left;
  text-align: center;
  margin-left: 10%;
  margin-top: 10%;
  width: 20%;
}

.products {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo_id {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 85px;
  text-align: center;
}

a {
  text-decoration: none;
}

#logo {
  width: 300px;
  transition: 0.3s;
}

#logo:hover {
  position: relative;
  top: -25px;
  width: 400px;
  height: auto;
  display: block;
  transition: 0.3s;
}

.phoneshow {
  display: flex;
  flex-direction: column;
}

.phone {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*margin-bottom: 146px;*/
}

.phonephoto {
  margin-top: 85px;
  margin-right: 50px;
}

#phonephoto {
  width: 500px;
  height: 500px;
  margin-right: 50px;
}

.specname {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  justify-content: center;
}

.specs {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#photo {
  width: 200px;
  height: 200px;
  transform: rotate(270deg);
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 130px;
  margin-left: 39%;
  margin-right: 50%;
}

#ido {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#inline {
  display: inline;
  color: rgba(91,54,126,1);
}

#inline1 {
  display: inline;
}

.contact {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 254px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#list {
  margin-bottom: 50px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

#list1 {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.na {
  padding-bottom: 40px;
}

.icon {
  margin: auto;
  height: 60px;
  width: 60px;
  cursor: pointer;
  color: rgba(91,54,126,1)
}

#icon {
  height: 100%;
  width: 100%;
}

.about {
  margin-bottom: 210px;
}

.paragraph {
  width: 100%;
  float: none;
  clear: both;
}

p {
  margin: 0 25% 0 25%;
  text-align: center;
}

.actions {
  margin-bottom: 50px;
}

footer {
  display: flex;
  background: rgba(91,54,126,1);
  padding: 1rem;
}

#footer {
  margin: auto;
  color: white;
}

.dropbtn {
  background-color: rgba(91,54,126,1);
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-top: -15px;
  padding: 10px;
  border: 20px;
  border-radius: 5px;
}

.dropbutton {
  background-color: rgba(91,54,126,0);
  color: rgba(91,54,126,1);
  font-size: 14px;
  cursor: pointer;
  margin-top: -15px;
  padding: 10px;
  border: 20px;
  border-radius: 5px;
}

i {
  font-style: normal;
  color: rgba(150,150,150,1);
}

.dropdown-content {
  /* display: none; */
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdownlist {
  text-align: center;
  margin-top: 50px;
}

#menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  font-size: 26px;
}

#menuoptions {
  margin-bottom: 20px;
  color: rgba(91,54,126,1);
  transition: font-size 0.3s, color 0.1s;
}

#menuoptions:hover {
  font-size: 30px;
  cursor: pointer;
  color: rgba(100,100,100,1);
  transition: font-size 0.3s, color 0.1s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(91,54,126,1);
  color: white;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  /* display: block; */
  z-index: 1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown:hover .dropbtn {
  background-color: rgba(151,101,176,1);
}


/* Testing new submenus */

.sub-menu-parent {
  position: relative;
}

.sub-menu {
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */
/* body { padding: 2%; font: 18px/1.4 sans-serif; } */

.drop-down {
  /* width: 40px; */
  margin-top: -3px;
}

.drop-down a {
  color: rgba(91,54,126,1);
  /* display: block; */
  /* padding: 0.5em 1em;  */
  text-decoration: none;
}

.drop-down a:hover {
  color: #F55;
}

.drop-down ul, .drop-down ul li {
  list-style-type: none; padding: 0; margin: 0;
}

.drop-down > ul {
/* text-align: center; */
}

.drop-down > ul > li {
  display: inline-block; border-left: solid 1px #aaa;
}

.drop-down > ul > li:first-child {
  border-left: none;
}

#shop {
  background: rgba(0,0,0,0);
  color: rgba(91,54,126,1);
}

/* .sub-menu { */
  /* width: 100px; */
  /* background: white; */
  /* margin-left: 40px; */
  /* background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 22px;
} */

/* .sub-menu-child {
  margin-left: 15px;
  color: black;
} */
